// ## Dependencies

@import "base";
@import "hyx";
@import "hyx_extras";

// ## Grid setup
//
// @gutter & @width

@gutter: 3%;
@width: 100%;

.col-1-2 { .cols(1/2); }
.col-1-3 { .cols(1/3); }

// ## Colors

@white: #fff;
@purple: #D8ABEA;
@black: #3A265C;
@green: #00923E;

.fa-github-alt,
.fa-github-square { color: #eee; }
.fa-facebook-square { color: #3b5998; }
.fa-twitter,
.fa-twitter-square { color: #55acee; }
.fa-google-plus-square { color: #dd4b39; }
.fa-linkedin-square { color: #0976b4; }
.fa-pinterest-square { color: #cc2127; }
.fa-youtube-square { color: #b31217; }
.fa-instagram { color: #3f729b; }

// ## Modules
// .edit();

.cool-edit { .edit(); }

.button-cta-wrapper {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.button-cta {
  display: inline-block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;

  margin-left: 20px;
  &:first-child {
    margin-left: auto;
  }

  padding: 0.618em 2em;
  background-color: @green;
  text-decoration: none;
  color: #fff;
  // border-radius: 0.618em;
  border-bottom: 4px solid darken(@green, 7%);

  &:hover {
    background-color: darken(@green, 2%);
    border-bottom-color: darken(@green, 9%);
  }
}

.dark() {
  background-color: @black;
  color: #fff;
}

.link {
  color: darken(@purple, 50%);
  text-decoration: none;
  border-bottom: 1px dashed darken(@purple, 40%);
  transition: 0.5s all;

  &:hover {
    border-bottom: 1px solid darken(@purple, 60%);
  }
}

.link-dbg {
  border-bottom: none;
  color: #fff !important;
  text-decoration: none;
  transition: 0.5s all;

  &:hover {
    opacity: 0.3;
  }
}

.text-centered {
  text-align: center;
}

// ## Base

body {
  margin: 0;
  color: darken(@purple, 70%);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: darken(@purple, 60%);
}

pre code {
  border-radius: 6px;
}

pre,
code {
  font-size: 14px;
}

code {
  padding: 2px 4px;
  background: #eee;
  border-radius: 2px;
  border: 1px solid #ccc;
}

// ## Layout

.container {
    margin: 0 auto;
    max-width: 55.456em;
    padding-left: 1em;
    padding-right: 1em;
}

@padding: 4em;
.section {
  padding-top: @padding;
  padding-bottom: @padding;

  h2 {
    margin-top: 0;
    text-align: center;
  }
}

// ## Header

#header {
  a#homelink {
    .link();

    color: #fff;
    border-color: #fff !important;
  }

  padding-top: (@padding/2);
  padding-bottom: (@padding/2);
  .dark();
}

#header-icons {
  text-align: right;
  color: #fff;
}

#site-title {
  margin-bottom: 0;
  font-weight: 700;
  color: #fff;
}

#slogan {
  font-weight: 400;
}

#main-nav {
  list-style: none;
}

.main-nav-el {
  display: inline-block;
  margin-right: 0.618em;

  a {
    .link-dbg();
  }
}

// ## Main

#main {
  text-align: center;
  .dark();

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .lede {
    font-size: 2em;
  }

  a.documentation-link {
    .link();

    display: table;
    margin: 0.618em auto 0 auto;
    color: #fff;
    border-color: #fff !important;

  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 300;
  }
}

// ## Screenshots

#screenshots {
  background-color: #eee;
}

.screenshot {
  margin-top: 4em;

  &:first-child {
    margin-top: 0;
  }
}

.more-screenshots {
  margin-bottom: 0;
  font-size: 1.5em;
}

// ## Statement

#statement {
  text-align: center;

  p {
    font-size: 1.618em;
  }
}

// ## Footer

#footer {
  color: #fff;
  background-color: @black;

  a {
    .link();
    color: #fff;
    border-color: #fff;

    &:hover { border-color: #fff; }
  }
}

#social {
  text-align: center;
}

.social-icons {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.social-icon {
  display: inline-block;
  margin-right: 0.218em;
  font-size: 2em;
}

@media handheld, only screen and (max-width: 768px) {
  .row {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  [class*='col-'] {
    float: none;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }

  #header,
  #main-nav,
  #screenshots {
    text-align: center;
  }
}
